@model PromotionEngine.Models.Unit

<style type="text/css">
    th,
    td {
        width: 100px;
        overflow: hidden;
    }
</style>
@using (Html.BeginForm())
{
    <fieldset>
        <legend style="color:blue"> Active Promotion offer </legend>
        <table class="table-responsive">
            <thead>
                <tr>
                    <th>SKUID</th>
                    <th>UnitPrice</th>
                    <th>No of Unit</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>A</td>
                    <td>50</td>
                    <td>@Html.EditorFor(x => x.A, new { @type = "number", @min = "0",  @value = "0" })</td>
                </tr>
                <tr>
                    <td>B</td>
                    <td>30</td>
                    <td>@Html.EditorFor(x => x.B)</td>
                </tr>
                <tr>
                    <td>C</td>
                    <td>20</td>
                    <td>@Html.EditorFor(x => x.C)</td>
                </tr>
                <tr>
                    <td>D</td>
                    <td>15</td>
                    <td>@Html.EditorFor(x => x.D)</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="TotalAmount" name="command" /></td>
                    <td>
                        <h2 style="color:red;text-align:center;">
                            @Html.DisplayFor(x => x.Result)
                        </h2>
                    </td>
                </tr>
            </tbody>
        </table>

    </fieldset>

}